.navbar{
    background-color: rgb(250, 237, 237);
    height: 5vmax;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.link22{
    margin-left: 5vmax;
}
.link{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: larger;
    font-weight: bolder;

}
.li{
    list-style: none;
    padding: 10px;
    font-weight: bolder;
}
.ul{
    display: flex;
    flex-direction: row;
    margin-left: 5vmax;
}
.storeicon{
    margin-right: 1.5vmax;
    color: rgb(0, 0, 0);
}
.capitallink{
    margin-right: 3vmax;
}